.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  max-width: 500px;
  width: 100%;
}
.header {
  background: #ab3db1;
  padding: 10px;
}
.actionBar {
  padding: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}
.delete,
.nodeState {
  position: absolute;
  right: 0px;
  top: -10px;
}

.mt-50 {
  margin-top: 50px;
}
.completed,
.pending {
  display: inline-block;
}
.completed .fa-check-circle {
  color: green;
  font-size: 25px;
}
.progress .fa-check-circle {
  color: blue;
  font-size: 25px;
}
.pending .fa-check-circle {
  color: grey;
  font-size: 25px;
}
a {
  color: black;
}
.workflowName {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#editWorkflow .completed,
#editWorkflow .pending,
#editWorkflow .progress {
  position: absolute;
  right: 0px;
  top: -10px;
  height: auto;
}
.blue-text {
  color: blue;
}
