.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  max-width: 500px;
  width: 100%;
}
.header {
  background: #ab3db1;
  padding: 10px;
}
